/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');


/* common styles */
body {
    background-color: rgba(255, 144, 14, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 25px;
}

/* banner section */
.container {}

.banner-section {
    text-align: center;
    margin-bottom: 40px;
}

.banner-image {
    display: flex;
    justify-content: center;
}

.banner-image img {
    width: 90%;
}

.explore-btn {
    background-color: #FF900E;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 90px;
}
.feature-teams{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature-team img{
    margin: 12px;
    width: 95%;
}
.feature-details{
    width: 50%;
padding: 10px 20px;
}

.experience-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 80px;
    gap: 30px;
}
.item{
background-color: white;
padding: 5px;
margin: 15px;
}
.image-architect{

}

.experience-btn{
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 5px;
}


.facts{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fact{
    border: solid 2px #FF900E;
    text-align: center;
    padding: 15px;
}


.spon-heading{
    text-align: center;
}
.sponspors{
    display: flex;
    justify-content: space-around;
    margin: 40px 70px;
}
.sponspor{
    padding: 10px 30px;
    
}

.footer-section{
    text-align: center;
}